<div class="page">
  <div class="index">
    <section class="title-section ng-cloak">
      <h1 class="noselect">SleepEar</h1>
      <div class="row" ng-show="!loggedIn && !loggedOut">
        <div class="col-md-12">
          <div class="loader"></div>
        </div>
      </div>
      <div class="row" ng-show="loggedOut">
        <div class="col-sm-12 col-md-6">
          <div class="button register" ng-click="switchPage('/register')">Register</div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="button login" ng-click="switchPage('/login')">Login</div>
        </div>
      </div>
      <div class="row" ng-show="loggedIn">
        <div class="col-md-12" style="position: relative">
          <div class="button logout" ng-click="logout()">Logout</div>
          <div class="loader" ng-show="loggingOut"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="button" class="button logout">Test Bluetooth</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button dashboard" ng-show="user.job === 'patient'" ng-click="switchPage('/breaths')">Patient Dashboard</div>
          <div class="button dashboard" ng-show="user.job === 'doctor'" ng-click="comingSoon()">Clinician Dashboard</div>
          <div class="button dashboard" ng-show="user.job === 'technician'" ng-click="comingSoon()">Technician Dashboard</div>
          <div class="button dashboard" ng-show="user.job === 'visitor'" ng-click="comingSoon()">Visitor Dashboard</div>
        </div>
      </div>
    </section>
    <section class="about-section">
      <h1 class="noselect">Who are we, what is this, where am I?</h1>
      <p>Big explanation goes here</p>
    </section>
    <div id="snackbar">Coming soon</div>
  </div>
</div>
<script>
    var button = document.getElementById("button");
    button.addEventListener('pointerup', function(event) {
      /*console.log(navigator);
        navigator.bluetooth.requestDevice({ acceptAllDevices: true })
            .then(device => {
            // Human-readable name of the device.
            console.log(device.name);

            // Attempts to connect to remote GATT Server.
            return device.gatt.connect();
            }).then(server => {
            // Getting Battery Service...
            return server.getPrimaryService('battery_service');
    })
        .then(service => {
            // Getting Battery Level Characteristic...
            return service.getCharacteristic('battery_level');
    })
        .then(characteristic => {
            // Reading Battery Level...
            return characteristic.readValue();
    })
        .then(value => {
            console.log('Battery percentage is ' + value.getUint8(0));
    })
              .catch(error => { console.log(error); });
    });*/
        navigator.bluetooth.requestDevice({
            // filters: [...] <- Prefer filters to save energy & show relevant devices.
            acceptAllDevices: true,
            optionalServices: optionalServices})
            .then(device => {
            log('Connecting to GATT Server...');
        return device.gatt.connect();
    })
        .then(server => {
            // Note that we could also get all services that match a specific UUID by
            // passing it to getPrimaryServices().
            log('Getting Services...');
        return server.getPrimaryServices();
    })
        .then(services => {
            log('Getting Characteristics...');
        let queue = Promise.resolve();
        services.forEach(service => {
            queue = queue.then(_ => service.getCharacteristics().then(characteristics => {
                log('> Service: ' + service.uuid);
        characteristics.forEach(characteristic => {
            log('>> Characteristic: ' + characteristic.uuid + ' ' +
            getSupportedProperties(characteristic));
    });
    }));
    });
        return queue;
    })
        .catch(error => {
            log('Argh! ' + error);
    });
    });
</script>
