<div class="page">
    <div class="register-page">
        <h1>Login</h1>
        <form novalidate class="simple-form col-md-6 offset-3">
            <label>E-mail: </label><input class="text-input" type="email" ng-model="user.email" /><br />
            <label>Password: </label><input class="text-input" type="password" ng-model="user.password" /><br />
            <br/>
            <input class="submit-button" type="submit" ng-click="login(user)" value="Login" />
            <div class="loader ng-cloak" ng-show="loading"></div>
            <div class="checkmark ng-cloak" ng-show="loggedIn"></div>
            <div class="failed ng-cloak" ng-show="failed">
                <div class="x-top"></div>
                <div class="x-bottom"></div>
            </div>
        </form>
    </div>
</div>