<div class="page">
    <div class="register-page">
        <h1>Register</h1>
        <form novalidate class="simple-form col-md-6 offset-3">
            <label>Name: </label><input class="text-input" type="text" ng-model="user.name" /><br />
            <label>E-mail: </label><input class="text-input" type="email" ng-model="user.email" /><br />
            <label>Password: </label><input class="text-input" type="password" ng-model="user.password" /><br />
            <label>I am a: </label><br/>
            <div class="radio-list">
                <input type="radio" ng-model="user.job" value="patient" checked> Patient<br/>
                <input type="radio" ng-model="user.job" value="doctor"> Clinician<br/>
                <input type="radio" ng-model="user.job" value="technician"> Technician<br/>
                <input type="radio" ng-model="user.job" value="visitor"> Visitor
            </div>
            <br/>
            <input class="submit-button" type="submit" ng-click="register(user)" value="Register" />
            <div class="loader ng-cloak" ng-show="loading"></div>
            <div class="checkmark ng-cloak" ng-show="registered"></div>
            <div class="failed ng-cloak" ng-show="failed"></div>
        </form>
    </div>
</div>