<div class="page">
    <div class="register-page">
        <h1>Register</h1>
        <form novalidate class="simple-form col-md-6 offset-3">
            <label>My name: </label><input class="text-input" type="text" ng-model="user.name" /><br />
            <label>My e-mail: </label><input class="text-input" type="email" ng-model="user.email" /><br />
            <label>I am a: </label><br/>
            <div class="radio-list">
                <input type="radio" ng-model="user.job" value="user.patient" checked> Patient<br/>
                <input type="radio" ng-model="user.job" value="doctor"> Clinician<br/>
                <input type="radio" ng-model="user.job" value="technician"> Technician<br/>
                <input type="radio" ng-model="user.job" value="visitor"> Visitor
            </div>
            <br/>
            <input class="submit-button" type="submit" ng-click="register(user)" value="Register" />
        </form>
    </div>
</div>