<div class="page">
    <div class="graphs-parent">
        <div id="barChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">
            <nvd3 data="barData" options="barOptions" api="barApi" class="ng-isolate-scope"></nvd3>
        </div>
        <div id="bloodPressure">
            <div class="title">Blood Pressure</div>
            <div class="top">120</div>
            <div class="line"></div>
            <div class="bottom">80</div>
        </div>
        <div id="eegChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">

        </div>
    </div>
    <div class="circle-parent">
        <div id="circle-1"></div>
        <div id="circle-2"></div>
    </div>
</div>
