<div class="page">
    <div class="graphs-parent">
        <div id="barChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">
            <nvd3 data="barData" options="barOptions" class="ng-isolate-scope"></nvd3>
        </div>
        <div id="barChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">
            <nvd3 data="barData" options="barOptions" class="ng-isolate-scope"></nvd3>
        </div>
        <div id="barChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">
            <nvd3 data="barData" options="barOptions" class="ng-isolate-scope"></nvd3>
        </div>
    </div>
    <div class="circle-parent">
        <div id="circle-1"></div>
        <div id="circle-2"></div>
    </div>
</div>
