<div class="page">
    <div id="recordButton">
        <div class="record-body">
            <div class="record-text noselect">Record</div>
            <div class="record-icon">
                <div class="record-circle"></div>
                <div class="record-paused">
                    <svg aria-hidden="true" data-prefix="fas" data-icon="pause-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-pause-circle fa-w-16 fa-fw fa-lg"><path fill="rgba(229, 57, 53,1.0)" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm-16 328c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160zm112 0c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h48c8.8 0 16 7.2 16 16v160z" class=""></path></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="graphs-parent">
        <div id="barChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">
            <nvd3 data="barData" options="barOptions" api="barApi" class="ng-isolate-scope"></nvd3>
        </div>
        <div id="bloodPressure">
            <div class="title">Blood Pressure</div>
            <div class="top">120</div>
            <div class="line"></div>
            <div class="bottom">80</div>
        </div>
        <div id="eegChart" class="with-3d-shadow with-transitions" style="overflow-x:auto;">

        </div>
    </div>
    <div class="circle-parent">
        <div id="circle-1"></div>
        <div id="circle-2"></div>
    </div>
</div>
