@import 'includes/alerts';
@import 'includes/ngAnimations';
@import 'includes/nv.d3';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn-block.btn-index {
  font-size: 130%;
}

.list-beer {
  max-height: 800px;
  overflow-y: hidden;

  .btn {
    color: #CCC;
  }


  &:hover {
    color: #333;
  }

}


.btn-add {
  margin-top: 20px;
}


.btn-list-group-item {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.page {
  height: 100%;
  position: relative;
  background: lavender;
}

.circle-parent {
  position: absolute;
  left: 5vw;
  top: 10vw;
  width: 32vw;
  height: 32vw;
  border: 1px solid black;
  background: white;
}

#circle-1 {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  max-width: 90%;
  max-height: 90%;
  background-color: #00E676;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#circle-2 {
  border-radius: 50%;
  width: 0px;
  height: 0px;
  max-width: 90vmin;
  max-height: 90vmin;
  background-color: #00c961;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.graphs-parent {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 45vw;
  height: 32vw;
  left: 50vw;
  top: 10vw;
  background: white;
  border: 1px solid black;
  flex-direction: row;
  padding: 5px;
}

#barChart {
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #2c3e50;
  margin: 5px;
  max-height: calc(50% - 55px);
  flex-basis: calc(50% - 53px);
  overflow-x: auto;
  display: flex;
}