<div class="page">
    <div class="index technician-index">
        <section class="title-section ng-cloak">
            <h1 class="noselect">Technician Dashboard</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="button login" ng-click="switchPage('/technicianSetup')">Set up new patient</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button register" ng-click="switchPage('/technicianManage')">Manage pending datasets</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button logout" ng-click="switchPage('/technicianSend')">Send report</div>
                </div>
            </div>
        </section>
    </div>
</div>