<div class="page">
    <div class="back-arrow" ng-click="switchPage('/')"></div>
    <div class="title">
        <span>Final Report</span>
    </div>
    <div id="report">
        <section id="probability-section">
            <div class="probability">
                <span class="section-title">Probability of CSA</span>
                <span class="section-amount">90%</span>
            </div>
            <div class="index">
                <span class="section-amount">
                    <span>93</span>
                </span>
                <span class="section-title">Reliability Index</span>
            </div>
            <div class="index">
                <span class="section-amount">
                    <span>82</span>
                </span>
                <span class="section-title">Accuracy Index</span>
            </div>
        </section>
        <section>
            Summary
        </section>
        <section>
            Charts
        </section>
        <section>
            Patient scores
        </section>
        <section>
            Population comparison
        </section>
        <section>
            Similar cases
        </section>
    </div>

</div>
