<div class="page">
    <div class="back-arrow" ng-click="switchPage('/')"></div>
    <div class="title">
        <span>Final Report</span>
    </div>
    <div id="report">
        <section>
            Probability
        </section>
        <section>
            Summary
        </section>
        <section>
            Charts
        </section>
        <section>
            Patient scores
        </section>
        <section>
            Population comparison
        </section>
        <section>
            Similar cases
        </section>
    </div>
</div>
