<div class="page">
    <div class="technician-index">
        <section class="title-section ng-cloak">
            <h1 class="noselect">Clinician Dashboard</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="button login" ng-click="switchPage('/clinician/send')">Send data to technician</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button register" ng-click="switchPage('/clinician/report')">View reports</div>
                </div>
            </div>
        </section>
    </div>
</div>