<div class="page">
    <div class="background clinician-index setup">
        <div class="back-arrow" ng-click="switchPage('/clinician')"></div>
        <div class="title">
            <span>Send Patient Data</span>
        </div>
        <div class="col-md-12 select-boxes">
            <span>Technician: </span>
            <!--<select ng-model="selectedPatient" ng-options="item.email as item.name for item in patients">
                <option value="">Select Account</option>
            </select>-->
            <select ng-model="selectedTechnician">
                <option ng-repeat="item in technician" value="{{item.email}}">{{item.name}}</option>
            </select>
        </div>
        <div id="report" class="data-body"></div>
    </div>
</div>